[Unit]
Description=Zookeeper Daemon
Wants=network.target network-online.target
After=network.target network-online.target

[Service]
Type=forking
WorkingDirectory=/opt/apache-zookeeper/zookeeper
User={{ zookeeper_user }}
Group={{ zookeeper_group }}
ExecStart=/opt/apache-zookeeper/zookeeper/bin/zkServer.sh start 
ExecStop=/opt/apache-zookeeper/zookeeper/bin/zkServer.sh stop 
TimeoutSec=30
Restart=always

[Install]
WantedBy=multi-user.target
