[Unit]
Description=Hadoop Journalnode Service
After=zookeeper.service
Wants=zookeeper.service

[Service]
Type=forking
ExecStart=/opt/apache-hadoop/hadoop/bin/hdfs --daemon start journalnode
ExecStop=/opt/apache-hadoop/hadoop/bin/hdfs --daemon stop journalnode
User={{ hdfs_user }}
Group={{ hdfs_group }}
TimeoutSec=30
RestartSec=30
Restart=always

[Install]
WantedBy=multi-user.target
