kazoo==2.10.0
patroni==3.3.2
pip==24.0
prettytable==3.10.2
psutil==6.0.0
psycopg2-binary==2.9.9
python-dateutil==2.9.0.post0
PyYAML==6.0.1
setuptools==72.1.0
six==1.16.0
urllib3==2.2.2
wcwidth==0.2.13
wheel==0.43.0
ydiff==1.3
