kazoo==2.10.0
patroni==4.0.5
pip==24.0
prettytable==3.16.0
psutil==7.0.0
psycopg2-binary==2.9.10
python-dateutil==2.9.0.post0
PyYAML==6.0.2
setuptools==78.1.0
six==1.17.0
urllib3==2.4.0
wcwidth==0.2.13
wheel==0.45.1
ydiff==1.4.2
