[Unit]
Description=Service for HA PostgreSQL
After=syslog.target network.target

[Service]
Type=simple
User=postgres
Group=postgres
ExecStart=/usr/lib/postgresql/14/venv/bin/patroni /etc/patroni.yml
KillMode=process
RestartSec=30
TimeoutSec=30
Restart=on-failure

[Install]
WantedBy=multi-user.target
