[Unit]
Description=Jupyter Hub Service

[Service]
Type=simple
ExecStart=/opt/jupyterhub/start-jupyterhub
User={{ jupyterhub_user }}
Group={{ jupyterhub_group }}
TimeoutSec=30
Restart=always
RestartSec=30
WorkingDirectory=/var/jupyterhub
EnvironmentFile=/etc/jupyterhub/env
PassEnvironment=PATH HADOOP_HOME JAVA_HOME HADOOP_HOME HADOOP_CONF_DIR LD_LIBRARY_PATH
#AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
